<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sociapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AboutActivity"
            android:parentActivityName=".WholeSettingsActivity"></activity>
        <activity
            android:name=".BugReportActivity"
            android:parentActivityName=".WholeSettingsActivity" />
        <activity
            android:name=".PublicControlsActivity"
            android:parentActivityName=".WholeSettingsActivity" />
        <activity
            android:name=".WholeSettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MessageImageFullActivity"
            android:parentActivityName=".ChatActivity"
            android:theme="@style/message_image_view" />
        <activity
            android:name=".FindFriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".StatusCommentDActivity" />
        <activity android:name=".CommentDeletionActivity" />
        <activity
            android:name=".NotificationsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatCommentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DeleteStatusActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatusPostActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyPostActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".FriendsActivity" />
        <activity
            android:name=".FriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PersonProfileActivity"
            android:parentActivityName=".NotificationsActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".CommentsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".WholeSettingsActivity" />
        <activity
            android:name=".ClickPostActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>